{% extends "base.html" %}
{% block content %}
    <div class="container d-flex justify-content-center align-items-center vh-100">
        <div class="card shadow p-4" style="width: 22rem;">
            <h3 class="text-center text-primary">User Login</h3>
            <!-- login form -->
            <form method="POST" action="/login">
                <div class="mb-3">
                    <label for="email" class="form-label">Email ID</label>
                    <input type="email" id="email" name="email" class="form-control" required>
                </div>
                <div class="mb-3"> 
                    <label for="password" class="form-label">Password</label>
                    <input type="password" id="password" name="password" class="form-control" required>
                </div>
                <div class="d-grid">
                    <button type="submit" class="btn btn-primary">Login</button>
                </div>
                <div class="text-center mt-3">
                    <a href="{{ url_for('register') }}" class="text-warning">Create Account?</a>
                </div>
            </form>
        </div>
    </div>
{%endblock%}
