{% extends 'base.html' %}
{% block content %}
<div class="container mt-4">
    <h3>Release the Parking spot</h3>
    <form method="POST">
        <div class="mb-3">
            <label for="spot_id" class="form-label">Spot Id</label>
            <input name="spot_id" id="spot_id" class="form-control" value="{{reservation.spot_id}}" disabled>
        </div>

        <div class="mb-3">
            <label for="vehicle_number" class="form-label">Vehicle Number</label>
            <input name="vehicle_number" id="vehicle_number" class="form-control" value="{{ reservation.vehicle_no }}"  disabled >
        </div>
        
        <div class="mb-3">
            <label for="parking_time" class="form-label">Parking Time</label>
            <input name="parking_time" id="parking_time" class="form-control" value="{{reservation.parking_timestamp.strftime('%Y-%m-%d %H:%M') }}" disabled>
        </div>

        <div class="mb-3">
            <label for="releasing_time" class="form-label">Releasing time</label>
            <input name="releasing_time" id="releasing_time" class="form-control" value="{{ leaving_time.strftime('%Y-%m-%d %H:%M') }}" disabled>
        </div>

        <div class="mb-3">
            <label for="parking_cost" class="form-label">Parking Cost</label>
            <input name="parking_cost" id="parking_cost" class="form-control" value="{{parking_cost}}" disabled>
        </div>


        <button class="btn btn-primary">Release Spot</button>
        <a href="/" class="btn btn-secondary ">Cancel</a>
    </form>
</div>
{% endblock %}
